<?xml version="1.0" encoding="utf-8"?>

<!--
/***************************************************************************
* The MIT License (MIT)
*
* Copyright © 2015-2016 Steven Lavoie
*
* Permission is hereby granted, free of charge, to any person obtaining a copy of
* this software and associated documentation files (the "Software"), to deal in
* the Software without restriction, including without limitation the rights to
* use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
* the Software, and to permit persons to whom the Software is furnished to do so,
* subject to the following conditions:
* 
* The above copyright notice and this permission notice shall be included in all
* copies or substantial portions of the Software.
* 
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
* FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
* COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
* IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
* CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
***************************************************************************/
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SkaaEditorUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <SkaaEditorUI.Properties.Settings>
      <setting name="DataDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ProjectsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="PalStd" serializeAs="String">
        <value>pal_std.res</value>
      </setting>
      <setting name="SetStd" serializeAs="String">
        <value>std.set</value>
      </setting>
      <setting name="SetFileExtension" serializeAs="String">
        <value>.set</value>
      </setting>
      <setting name="SprFileExtension" serializeAs="String">
        <value>.spr</value>
      </setting>
      <setting name="SkaaDataDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ProjectDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="TempDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="PalWin" serializeAs="String">
        <value>pal_win.res</value>
      </setting>
      <setting name="PalEnc" serializeAs="String">
        <value>pal_enc.res</value>
      </setting>
      <setting name="PalMenu" serializeAs="String">
        <value>pal_menu.res</value>
      </setting>
      <setting name="PalFileExtension" serializeAs="String">
        <value>.pal</value>
      </setting>
      <setting name="ResFileExtension" serializeAs="String">
        <value>.res</value>
      </setting>
    </SkaaEditorUI.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
      <probing privatePath="lib;libs" xmlns="" />
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="skaaeditor"
              switchName="sourceSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"
            type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter"
              initializeData="Warning"/>
          </add>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All"/>
    </switches>
    <sharedListeners>
      <add name="myListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="skaaeditor.log">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="All"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>